.nav-header {
    @media (max-width: 992px){
        height: 60px;
     }
    height: 80px;
    width: 100%;
    background-color: rgba(8, 8, 8, 0.3);
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    .left {
        display: flex;
        flex: 1;
        align-items: center;
        .logo {
            display: flex;
            align-items: center;
            height: 100%;
            cursor: pointer;
            position: relative;
            &::before {
                transition: all 0.5s;
                content: '';
                position: absolute;
                top: 66px;
                left: 40px;
                height: 2px;
                width: 0;
                background: linear-gradient(to right,#ff8a00,#da1b60);
            }
            &:hover {
                &::before {
                    transition: all 0.5s;
                    content: '';
                    position: absolute;
                    top: 66px;
                    left: 0;
                    height: 2px;
                    width: 80px;
                    background: linear-gradient(to right,#ff8a00,#da1b60);
                }
            }
            .icontianchengzuo {
                font-size: 50px;
                padding: 0 15px;
                background: linear-gradient(to right,#ff8a00,#da1b60);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                box-decoration-break: clone;
            }
        }
        .directory {
            display: flex;
            align-items: center;
            height: 100%;
            @media (max-width: 992px){
                display: none;
             }
            a {
                text-align: center;
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100px;
                color: #ddd;
                padding: 16px 0;
                transition: all 0.5s;
                &::before {
                    transition: all 0.5s;
                    content: '';
                    position: absolute;
                    top: 79px;
                    left: 50px;
                    height: 2px;
                    width: 0;
                    background: linear-gradient(to right,#ff8a00,#da1b60);
                }
                &:hover {
                    background: linear-gradient(to right,#ff8a00,#da1b60);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    box-decoration-break: clone;
                    transition: all 0.5s;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 79px;
                        left: 20px;
                        height: 2px;
                        width: 60px;
                        background: linear-gradient(to right,#ff8a00,#da1b60);
                    }
                }
                i {
                    font-size: 24px;
                }
            }
        }
    }
    .right {
        display: flex;
        align-items: center;
        flex: 1;
        flex-direction: row-reverse;
        .search {
            position: relative;
            float: right;
            @media (max-width: 992px){
                display: none;
             }
            .search-input {
                background: transparent;
                border: 1px solid #ddd;
                border-radius: 3px;
                color: #ff8a00;
                outline: none;
                padding: 8px 30px 8px 10px;
                transition: all 0.5s;
                &:hover {
                    border: 1px solid #ff8a00;
                }
            }
            .iconsearch {
                position: absolute;
                top: 10px;
                right: 10px;
                color: #ddd;
                cursor: pointer;
                transition: all 0.5s;
                &:hover {
                    color: #da1b60;
                }
            }
        }
        .personal {
            display: flex;
            position: relative;
            .avatar {
                width: 50px;
                height: 50px;
                border-radius: 25px;
                overflow: hidden;
                border: 2px solid #ddd;
                cursor: pointer;
                margin: 0 40px 0 80px;
                transition: all 0.5s;
                &:hover {
                    transition: all 0.5s;
                    border: 2px solid #da1b60;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
                @media (min-width: 992px){
                    &::before {
                        transition: all 0.5s;
                        content: '';
                        position: absolute;
                        top: 63px;
                        left: 82px;
                        height: 2px;
                        width: 0;
                        background: linear-gradient(to right,#ff8a00,#da1b60);
                    }
                    &:hover {
                        transition: all 0.5s;
                        &::before {
                            content: '';
                            position: absolute;
                            top: 63px;
                            left: 82px;
                            height: 2px;
                            width: 104px;
                            background: linear-gradient(to right,#ff8a00,#da1b60);
                        }
                        &:hover .personal-info {
                            opacity: 1;
                            transition: all 0.5s;
                        }
                    }
                    .personal-info {
                        transition: all 0.5s;
                        position: absolute;
                        right: auto;
                        top: 65px;
                        opacity: 0;
                        background-color: #ddd;
                        width: 104px;
                        padding-bottom: 10px;
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;
                        li {
                            padding: 10px 10px 10px 20px;
                            &:hover {
                                background-color: rgba(8, 8, 8, 0.3);
                            }
                            a {
                                color:#333;
                            }
                        }
    
                    }
                }
                
            }
        }
        .mobile-nav {
            @media (min-width: 992px){
                display: none;
             }
            .nav-logo {
                .iconnav {
                    padding:3px 5px;
                    border-radius: 2px;
                    cursor: pointer;
                    border: 1px solid #ddd;
                    font-size: 24px;
                }
            }
        }
    }
    .mobile-menu {
        @media (min-width: 992px){
            display: none;
        }
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        display:none;
        align-self: auto;
        background-color: rgba(8, 8, 8, 0.3);
        border-top: 1px solid #ddd;
        padding: 10px 0;
        transition: all 0.5s;
        li {
            padding: 10px 20px 10px 20px;
            a {
                color: #ddd;
            }
        }
    }
}