<style lang="less">
@import './index';
</style>
<template>
  <header class="nav-header">
    <div class="left">
      <router-link to="/home" class="logo">
        <i class="iconfont icontianchengzuo"></i>
      </router-link>
      <div class="directory">
        <router-link to="/home" class="home"><i class="iconfont iconhome"></i>首页</router-link>
        <router-link to="/book" class="book"><i class="iconfont iconbooks"></i>书籍</router-link>
        <router-link to="/blog" class="blog"><i class="iconfont iconblog"></i>博客</router-link>
        <router-link to="/lab" class="lab"><i class="iconfont iconlab"></i>实验室</router-link>
        <router-link to="/contact" class="contact"><i class="iconfont iconContact-Info"></i>联系我</router-link>
      </div>
    </div>
    <div class="right">
      <div class="mobile-nav">
        <div class="nav-logo">
          <i class="iconfont iconnav" @click="showMobileMenu"></i>
        </div>
      </div>
      <div class="personal">
        <div class="avatar">
          <img src="https://pic.qqtn.com/up/2018-5/15252271245423063.jpg" alt="">
          <ul class="personal-info">
            <li><router-link to="/personal">个人中心</router-link></li>
            <li><router-link to="/logout">退 出</router-link></li>
          </ul>
        </div>
      </div>
      <div class="search">
        <input class="search-input" type="text" placeholder="请输入你要搜索的内容">
        <i class="iconfont iconsearch"></i>
      </div>
    </div>
    <ul class="mobile-menu" ref="mobileMenu">
      <li><router-link to="/home" class="home"><i class="iconfont iconhome"></i> 首页</router-link></li>
      <li><router-link to="/book" class="book"><i class="iconfont iconbooks"></i> 书籍</router-link></li>
      <li><router-link to="/blog" class="blog"><i class="iconfont iconblog"></i> 博客</router-link></li>
      <li><router-link to="/lab" class="lab"><i class="iconfont iconlab"></i> 实验室</router-link></li>
      <li><router-link to="/contact" class="contact"><i class="iconfont iconContact-Info"></i> 联系我</router-link></li>
    </ul>
  </header>
</template>

<script>
  export default {
    data () {
      return {
        isMobileMenuShow: false
      }
    },
    methods: {
      showMobileMenu () {
        if (!this.isMobileMenuShow) {
          this.$refs.mobileMenu.style.display = 'block'
          this.isMobileMenuShow = true
        } else {
          this.$refs.mobileMenu.style.display = 'none'
          this.isMobileMenuShow = false
        }
      }
    }
  }
</script>