.fade-enter-active,
.fade-leave-active{
  transition: transform .3s;
}
.fade-enter,
.fade-leave-to{
  transform: translate(-400px, 0);
}
.notification{
  max-width:300px;
  width:100%;
  border-radius:2px;
  box-shadow:0 10px 10px rgba(0,0,0,0.1);
  padding:12px 10px;
  text-align: center;
  // margin:0 auto;
  position:fixed;
  top:20px;
  left: 10px;
  .notification-title,
  .notification-message{
  color:#fff;
  font-family:'Open Sans', sans-serif;
}
p{
  margin: 0;
}
.notification-message{
  font-weight:400;
  font-size:16px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2); 
}
}
.notification-close{
  position:absolute;
  top:14px;
  right:10px;
  cursor:pointer;
  font-size:18px;
  border-radius:50px;
  width:18px;
  height:18px;
  line-height:15px;
  text-align:center;
} 
.success{
  // background:#5ed490;
  background: #DFF2BF; 
  .notification-close{
    color:#fff;
  }
  .notification-message{
    color: #270;
  }
}
.error{
  background: #FFBABA;
  .notification-close{
    color:#fff;
  }
  .notification-message{
    color: #D8000C;
  }
}
.info{
  background: #BEF;
  .notification-close{
    color: #fff;
  }
  .notification-message{
    color: #059;
  }
}
.warning{
  background: #FEEFB3;
  .notification-close{
    color: #fff;
  }
  .notification-message{
    color: #9F6000;
  }
}
