<style lang="less">
@import './index';
</style>
<template>
  <transition name="fade">
    <div class="notification" :class="type" v-show="show">
      <span class="notification-close" @click="close">&times;</span>
      <span class="notification-message"><i class="iconfont" :class="icon"></i>&nbsp;{{text}}</span>
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'message',
    props: {
      type: {
        type: String,
        default: 'info',
        validator: val => ['success', 'error', 'info', 'warning'].includes(val)
      },
      text: {
        type: String,
        default: ''
      },
      show: {
        type: Boolean,
        default: false
      },
      icon: {
        type: String,
        default: ''
      }
    },
    methods: {
      close () {
        let el = document.querySelector('.notification')
        el.style.transform = 'translate(-400px, 0)'
        el.style.transition = 'transform .3s'
      }
    }
  }
</script>