<style lang="less">
@import './index';
</style>
<template>
  <div class="login">
    <div class="left-side">
      <h1 class='text-title' data-text="LIBRA">LIBRA</h1>
      <!-- <div class="cube-container">
        <div class="cube">
          <figure class="front">
            <h1 data-text="L">L</h1>
          </figure>
          <figure class="back">
            <h1 data-text="I">I</h1>
          </figure>
          <figure class="right">
            <h1 data-text="B">B</h1>
          </figure>
          <figure class="left">
            <h1 data-text="R">R</h1>
          </figure>
          <figure class="top">
            <h1 data-text="A">A</h1>
          </figure>
          <figure class="bottom">
            <h1 data-text="!">!</h1>
          </figure>
        </div>
      </div> -->
    </div>
    <div class="right-side">
      <div id="signin">
      <div class="form-title">登 录</div>
      <div class="input-field">
        <input type="email" v-model="userEmail" id="email" autocomplete="off"/>
        <i class="iconfont iconemail"></i>
        <label for="email">邮箱</label>
      </div>
      <div class="input-field">
        <input type="password" v-model="userPwd" id="password"/>
        <i class="iconfont iconpassword"></i>
        <label for="password">密码</label>
      </div>
      <div class="button-container">
        <button @click="login" class="btn">登 录</button>
      </div>
    </div>
    </div>
</div>
</template>

<script>
  import {RegEmail} from '@/assets/utils/regCheck.js'
  import CryptoJs from 'crypto-js'
  export default {
    data () {
      return {
        userEmail: '',
        userPwd: ''
      }
    },
    methods: {
      login () {
        if (!this.userEmail) {
          this.$message.warning('请输入邮箱')
          return
        }
        if (!RegEmail.test(this.userEmail)) {
          this.$message.warning('请输入正确格式的邮箱')
          return
        }
        if (!this.userPwd) {
          this.$message.warning('请输入密码')
          return
        }
        this.$axios.post('/users/login', {
          userEmail: this.userEmail,
          userPwd: CryptoJs.MD5(this.userPwd).toString()
        })
        .then(res => {
          console.log(res)
          if (res.data.resultCode === 0) {
            this.$message.success(res.data.message)
            this.$router.push('/')
          } else {
            this.$message.error(res.data.message)
          }
        })
        .catch(err => {
          this.$message.error(err)
        })
      }
    }
  }
</script>