
body {
  .register{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    @media (max-width: 992px){
      flex-direction: column;
      margin: 30px;
  }
    .right-side{
      // flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      #signin{
        width:400px; 
        height: 620px;
        background: linear-gradient(to right, #24243e, #141E30, #0f0c29);
        margin:0 50px; 
        @media (max-width: 992px){
          background-color: transparent;
          box-shadow:none;
          border:none;
      }
        box-shadow:0 0 64px rgba(0,0,0,0.5); 
        padding:20px 50px 120px 50px; 
        position:relative; 
        overflow:hidden;
        border-radius: 5px;
        .button-container {
          .btn{
            width: 300px;
            box-shadow:0 10px 10px rgba(0,0,0,0.25); 
            color: #fff;
            padding: 10px;
            border: 1px solid #24243e;
            cursor: pointer;
            &:hover{
              background: linear-gradient(to right,#ff8a00,#da1b60);
              background-clip: text;
              -webkit-text-fill-color: transparent;
              box-decoration-break: clone;
            }
          }
        }
        .form-title{
          font:500 26px/1 'Roboto',sans-serif; 
          color:#EBEBEB; 
          text-align:center; 
          margin:25px 0;
        }
        .input-field{
          position:relative; 
          height:50px; 
          width: 300px;
          margin:35px 0; 
          transition:all 300ms;
          .btn_verify {
            position:absolute; 
            // bottom:400px; 
            top: 20px;
            right:-100px;  
            height:30px; 
            background: none;
            // visibility:hidden; 
            font-size:100%; 
            transition:height 250ms;
            box-shadow:0 10px 10px rgba(0,0,0,0.25); 
            color: #fff;
            padding: 2px;
            border: 1px solid #24243e;
            cursor: pointer;
            &:hover{
              background: linear-gradient(to right,#ff8a00,#da1b60);
              background-clip: text;
              -webkit-text-fill-color: transparent;
              box-decoration-break: clone;
            }
          }
          i{
            position:absolute; 
            // bottom:400px; 
            top: 8px;
            left:15px; 
            color:#BBBBBB; 
            height:0; 
            visibility:hidden; 
            font-size:100%; 
            transition:height 250ms;
          }
          label{
            width:100%; 
            height:100%; 
            position:absolute; 
            margin-top:20px; 
            left:4px; 
            font:400 16px/1 'Roboto',sans-serif; 
            color:#FFF; 
            opacity:1; 
            transition:all 300ms;
          }
          input{
            width:100%; 
            height:4px; 
            font:500 16px/1 'Roboto',sans-serif; 
            padding:0 20px 0 50px; border:none; 
            box-shadow:0 10px 10px rgba(0,0,0,0.25); 
            color:#606060; 
            border-radius:6px; 
            outline:0; 
            overflow:hidden; 
            position:absolute; 
            bottom:0; 
            left:0; 
            transition:all 300ms;
            &:focus{
              color:#333;
              height:auto; 
              padding:14px 20px 14px 50px;
            }
            .not-empty{
              height:auto; 
              padding:14px 20px 14px 50px;
            }
          }
        }
      }
      #signin .input-field input:focus + i, #signin .input-field input.not-empty + i{font-size:24px; bottom:26px; height:10px; visibility:visible;}
      #signin .input-field input:focus + i + label, #signin .input-field input.not-empty + i + label{font-size:12px; margin-top:-15px; opacity:0.7; animation:label 300ms 1;}
      
      @keyframes label{
        0%{margin-top:-15px;}
        50%{margin-top:-25px;}
        100%{margin-top:-15px;}
      }
    }
    .left-side{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // flex: 1;
      .text-title {
        flex: 1;
        text-align: center;
        // margin-top: 100px;
        text-transform: Uppercase;
        margin-bottom: .5rem;
        font-family: 'Rubik', sans-serif;
        font-size: 6rem;
        color: #E4E5E6; 
        font-weight: 900;
        position: relative;
        background: linear-gradient(to right, #24243e, #141E30, #0f0c29);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:before,
        &:after {
          content: attr(data-text);
          position: absolute;
          top: 0;
          left: 0; 
        }
        &:before {
          z-index: -1;
          text-shadow: -0.001em -0.001em 1px rgba(255,255,255,.15)
        }   
        &:after {
          z-index: -2;
          text-shadow: 10px 10px 10px rgba(0,0,0,.5), 20px 20px 20px rgba(0,0,0,.4), 30px 30px 30px rgba(0,0,0,.1);
          mix-blend-mode: multiply; 
        }
      }
      // .cube-container {
      //   flex: 1;
      //   height: 200px;
      //   width: 200px;
      //   perspective:600px;// distance between the scene and the viewer
      //   perspective-origin: 50% 50%;
      //   transition: .3s all ease;
      //   margin-top: 100px;
      //   .cube {
      //     animation: spin 5s infinite linear;
      //     height: 100%;
      //     transition: .5s all ease-in-out;
      //     transform-style: preserve-3d;
      //     transform: rotateX(-20deg) rotateY(28deg);
      //     backface-visibility: visible;
      //     width: 100%;
      //     .front {
      //       transform: translateZ(100px);
      //       background: linear-gradient(to right, #24243e, #141E30, #0f0c29); 
      //       opacity: .8;
      //     }
      //     .back {
      //       transform: rotateY(180deg) rotateX(0deg) translateZ(100px);
      //       background: linear-gradient(to right, #24243e, #141E30, #0f0c29); 
      //       opacity: .8;
      //     }
      //     .left {
      //       transform: rotateY(-90deg) translateZ(100px);
      //       background: linear-gradient(to right, #24243e, #141E30, #0f0c29); 
      //       opacity: .8;
      //     }
      //     .right {
      //       transform: rotateY(90deg) translateZ(100px);
      //       background: linear-gradient(to right, #24243e, #141E30, #0f0c29); 
      //       opacity: .8;
      //     }
      //     .top {
      //       transform: rotateX(90deg) translateZ(100px);
      //       background: linear-gradient(to right, #24243e, #141E30, #0f0c29); 
      //       opacity: .8;
      //     }
      //     .bottom {
      //       transform: rotateX(-90deg) rotateZ(-180deg) translateZ(100px);
      //       background: linear-gradient(to right, #24243e, #141E30, #0f0c29); 
      //       opacity: .8;
      //     }
      //     figure {
      //       box-sizing: border-box;
      //       margin: 0;
      //       display: block;
      //       height: 200px;
      //       position: absolute;
      //       width: 200px;
      //       font-size: 2em;
      //       line-height: 6em;
      //       text-align: center;
      //       h1 {
      //         text-transform: Uppercase;
      //         margin-bottom: 8px;
      //         font-family: 'Rubik', sans-serif;
      //         font-size: 6rem;
      //         color: #E4E5E6; 
      //         margin:0;
      //         position: relative;
      //         background: linear-gradient(to right, #24243e, #141E30, #0f0c29);
      //         -webkit-background-clip: text;
      //         -webkit-text-fill-color: transparent; 
      //         &:before,
      //         &:after {
      //         content: attr(data-text);
      //         position: absolute;
      //         width:100%;
      //         top: 0;
      //         left: 0; }
              
      //         &:before {
      //         z-index: -1;
      //         text-shadow: -0.001em -0.001em 1px rgba(255,255,255,.15)}
              
      //         &:after {
      //         z-index: -2;
      //         text-shadow: 3px 3px 3px rgba(0,0,0,.5), 6px 6px 6px rgba(0,0,0,.4), 9px 9px 9px rgba(0,0,0,.1);
      //         mix-blend-mode: multiply; }
      //         }
      //     }
      //   }
      // }
      @keyframes spin {
        from { transform: rotateX(0) rotateY(0); }
        to   { transform: rotateX(360deg) rotateY(360deg); }
      }
    }
  }
}