<style lang="less">
@import './index';
</style>
<template>
  <div class="register">
    <div class="left-side">
      <h1 class='text-title' data-text="Fight">Fight</h1>
    </div>
    <div class="right-side">
      <div id="signin">
      <div class="form-title">注 册</div>
      <div class="input-field">
        <input type="email" id="email" v-model="userEmail" autocomplete="off"/>
        <i class="iconfont iconemail"></i>
        <label for="email">邮箱</label>
      </div>
      <div class="input-field" style="width:200px">
        <input type="verify" id="verify" v-model="userCode" autocomplete="off"/>
        <i class="iconfont iconyanzhengma"></i>
        <label for="verify">验证码</label>
        <button class="btn_verify" @click="getCode" :disabled="!show">
          <span v-if="show">获取验证码</span>
          <span v-else>{{count}}s重新获取</span>
        </button>
      </div>
      <div class="input-field">
        <input type="text" id="username" v-model="userName"/>
        <i class="iconfont iconpassword"></i>
        <label for="username">用户名</label>
      </div>
      <div class="input-field">
        <input type="password" id="password" v-model="userPwd"/>
        <i class="iconfont iconpassword"></i>
        <label for="password">密码</label>
      </div>
      <div class="input-field">
        <input type="password" id="repassword" v-model="reUserPwd"/>
        <i class="iconfont iconpassword"></i>
        <label for="repassword">重复</label>
      </div>
      <div class="button-container">
        <a @click="register" class="btn">注 册</a>
      </div>
    </div>
    </div>
</div>
</template>

<script>
  import {RegEmail} from '@/assets/utils/regCheck.js'
  import CryptoJs from 'crypto-js'
  export default {
    data () {
      return {
        show: true,
        count: '',
        timer: null,
        userEmail: '',
        userCode: '',
        userPwd: '',
        reUserPwd: '',
        userName: ''
      }
    },
    methods: {
      getCode () {
        if (!this.userEmail) {
          this.$message.warning('请输入邮箱')
          return
        }
        if (!RegEmail.test(this.userEmail)) {
          this.$message.warning('请输入正确格式的邮箱')
          return
        }
        this.$axios.get('/users/email', 
        {
          params: {
            userEmail: this.userEmail
          }
        })
        .then(res => {
          if (res.data.resultCode === 0) {
            this.$message.success(res.data.message)
          }
        })
        .catch(err => {
          this.$message.error(err)
        })
        const TIME_COUNT = 60
        if (!this.timer) {
          this.count = TIME_COUNT
          this.show = false
          this.timer = setInterval(() => {
            if (this.count > 0 && this.count <= TIME_COUNT) {
                this.count--
            } else {
              this.show = true
              clearInterval(this.timer)
              this.timer = null
            }
          }, 1000)
        }
      },
      register () {
        if (!this.userEmail) {
          this.$message.warning('请输入邮箱')
          return
        }
        if (!RegEmail.test(this.userEmail)) {
          this.$message.warning('请输入正确格式的邮箱')
          return
        }
        this.$axios.post('/users/register', {
          userEmail: this.userEmail,
          userCode: this.userCode,
          userName: this.userName,
          userPwd: CryptoJs.MD5(this.userPwd).toString()
        })
        .then(res => {
          console.log(res)
          if (res.data.resultCode === 0) {
            this.$message.success(res.data.message)
          } else {
            this.$message.error(res)
          }
        })
        .catch(err => {
          this.$message.error(err)
        })
      }
    }
  }
</script>