<template>
  <div class="blog">
    <nav-header></nav-header>
    <div class="blog-page">
       <markdown-run
        :mark="markdownTxt"
        highlight-style-file-name="atom-one-dark"
      />
    </div>
  </div>
</template>

<script>
  import navHeader from '@/components/nav-header'
  import markdownTxt from '@/components/markDown/data.md'
  export default {
    data () {
      return {
        markdownTxt
      }
    },
    mounted () {
      let hideLists = document.querySelectorAll('.vue-markdown-run + .markdown-common')
      for (const item of hideLists) {
        item.style.display="none"
      }
    },
    components: {
      navHeader
    }
  }
</script>

<style lang="less">
@import './index.less';
</style>