<template>
    <div class="blog-card">
        <div class="blog-card-top">
        </div>
        <div class="blog-card-avatar">
            <img src="https://pic.qqtn.com/up/2018-5/15252271245423063.jpg" alt="">
        </div>
        <div class="blog-card-bottom">
            <div class="about">
                <span class="author">Libra</span>
            </div>
            <div class="blog-card-title">dfdfsdfsdfsdf</div>
            <div class="blog-card-content">是快乐的发咯法律上肯定会发生芬兰收到了路上看到法律上的房间数量费时费力书法家</div>
            <div class="blog-card-detail">
                <span class="date"><i class="iconfont iconshizhong"></i>2019.12.29</span>
                <span class="view"><i class="iconfont iconyanjing"></i>1000</span>
                <span class="love"><i class="iconfont iconxin"></i>100</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="less">
    @import './index.less';
</style>