<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1162815_zfsk2977ef.css">
    <title>blog-prepare</title>
    <style>
      body::-webkit-scrollbar-track
      {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
      }

      body::-webkit-scrollbar
      {
        width: 10px;
        background-color: #F5F5F5;
      }

      body::-webkit-scrollbar-thumb
      {
        border-radius: 10px;
        background-image: -webkit-gradient(linear,
                          left bottom,
                          left top,
                          color-stop(0.44, #ff8a00),
                          color-stop(0.72, #da1b60));
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but blog-prepare doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
