<template>
  <div class="contact">
    <nav-header></nav-header>
    <div>
      联系我
    </div>
  </div>
</template>

<script>
  import navHeader from '@/components/nav-header'
  export default {
    components: {
      navHeader
    }
  }
</script>

<style lang="less">
@import './index.less';
</style>