body {
    padding: 0;
}
.homePage {
    background: #ddd;
    .home-bg {
        background-image: url('https://libra321.oss-cn-huhehaote.aliyuncs.com/blog/skateboard-331751.jpg');
        // position:fixed;
        // top: 0;
        // left: 0;
        height: 100vh;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .introduce {
            .main {
                color: #eee;
                text-align: center;
                font-size: 80px;
                font-weight:600;
                font-family: 'Courier New';
                @media (max-width: 992px){
                    font-size: 30px;
                }
            }
            .detail {
                color: #eee;
                text-align: center;
                font-size: 20px;
                font-weight:200;
                @media (max-width: 992px){
                    font-size: 14px;
                }
            }
        }
    }
    .new-book {
        max-width: 1248px;
        margin:0 auto;
        .book-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                padding: 10px 20px;
            }
        }
        .title {
            display: flex;
            justify-content: center;
            padding:10px;
            font-size: 20px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 40px;
                left: calc(50%-20px);
                width: 80px;
                height: 1px;
                background: #36bfc4;
            }
        }
    }
    .new-blog {
        max-width: 1248px;
        margin:0 auto;
        .title {
            display: flex;
            justify-content: center;
            padding:10px;
            font-size: 20px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 40px;
                left: calc(50%-20px);
                width: 80px;
                height: 1px;
                background: #36bfc4;
            }
        }
        .blog-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                padding: 10px 20px;
            }
        }
    }
    .hot-book {
        max-width: 1248px;
        margin:0 auto;
        .book-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                padding: 10px 20px;
            }
        }
        .title {
            display: flex;
            justify-content: center;
            padding:10px;
            font-size: 20px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 40px;
                left: calc(50%-20px);
                width: 80px;
                height: 1px;
                background: #36bfc4;
            }
        }
    }
}