<template>
  <div class="lab">
    <nav-header></nav-header>
    <div>
      实验室
    </div>
  </div>
</template>

<script>
import navHeader from '@/components/nav-header'
export default {
  components: {
    navHeader
  }
}
</script>

<style lang="less">
@import './index.less';
</style>