.book-page {
  background: #ddd;
  .book-bg {
      background-image: url('https://libra321.oss-cn-huhehaote.aliyuncs.com/blog/%E9%AB%98%E8%80%83%E5%8A%B1%E5%BF%97%20%E6%95%99%E5%AE%A4%E9%87%8C%E8%AE%A4%E7%9C%9F%E5%81%9A%E4%BD%9C%E4%B8%9A%E7%9A%84%E5%90%8C%E5%AD%A64k%E5%A3%81%E7%BA%B8_%E5%BD%BC%E5%B2%B8%E5%9B%BE%E7%BD%91.jpg');
      height: 100vh;
      background-color: #fff;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .introduce {
          .main {
              color: #eee;
              text-shadow: 1px 1px 2px #333;
              text-align: center;
              font-size: 80px;
              font-weight:600;
              font-family: 'Courier New';
              @media (max-width: 992px){
                font-size: 30px;
              }
            }
            .detail {
              text-shadow: 1px 1px 2px #333;
              padding:0 10px;
              color: #eee;
              text-align: center;
              font-size: 20px;
              font-weight:200;
              @media (max-width: 992px){
                  font-size: 14px;
              }
          }
      }
  }
}