<template>
  <div class="book-page">
    <nav-header></nav-header>
    <div class="book-bg">
      <div class="introduce">
        <div class="main">READ<br>&&<br>LEARN</div>
        <div class="detail">How many a man has dated a new era in his life from the reading of a book</div>
      </div>
    </div>
  </div>
</template>

<script>
  import navHeader from '@/components/nav-header'
  export default {
    components: {
      navHeader
    }
  }
</script>

<style lang="less">
@import './index.less';
</style>