.rating {
  .value {
    margin: 20px auto;
    font-weight: 600;
    color: #42b983;
  }
}     
input[type="range"] {
  appearance: none;
  height: 6px;
  background-color: #ddd;
  border-radius: 4px;
  width: 300px;
  outline: none;
  transition: background-color 1s, height 1s;
  &::-webkit-slider-thumb {
    appearance: none;
    display: block;
    border: 2px solid #ccc;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #42b983;
    transition: height 1s, width 1s;
  }
  &:active{
    background-color: lighten(#42b983, 30%);
  }
}