<template>
  <div class="rating">
    <input type="range" v-model="value" :min="min" list="tickmarks" :max="max">
    <span class="value">
      {{ value }}
    </span>
  </div>
</template>

<script>
  export default {
    props: {
      min: {
        type: Number
      },
      max: {
        type: Number
      }
    },
    watch: {
      value () {
        this.updateValue()
      }
    },
    data () {
      return {
        value: this.min || 0
      }
    },
    methods: {
      updateValue() {
        this.$parent.get(this.value)
      }
    }
  }
</script>

<style lang="less">
@import 'index.less';
</style>