<template>
  <div class="abook">
    <figure class="thumb">
      <div class="cover">
        <img src="http://www.creativindie.com/wp-content/uploads/2013/10/Enchantment-Book-Cover-Best-Seller1.jpg" />
      </div>
      <h2>Enchantment</h2>
      <p class="author">by Guy Kawasaki</p>
    </figure>
  </div>
</template>

<script>
  export default {
    
  }
</script>

<style lang="less">
  @import './index.less';
</style>